<section class="index">
  <section class="jumbotron text-center" style="margin-bottom:5%">
    <a href="/invoices-dashboard" class="dashboard-link">Dashboard</a>
    <h1 class="index-title"style="margin:5%">Invoices</h1>
  </section>
  <section class= "invoice-index-body">
    <% @invoices.each do |invoice| %>
      <div id="invoice-<%= invoice.id %>" class="container">
        <div class="row invoice-index">
            <a href="/invoices/<%= invoice.id %>" class="badge" id="invoice-link"> <%= invoice.id %> </a>
            <a href="/invoices/<%= invoice.id %>/edit" class="btn btn-info">Edit</a>
            <form action="/invoices/<%= invoice.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" id="delete-btn" class="btn"/>
            </form>
        </div>
      </div>
      <br />
    <% end %>
  </section>
</section>
