<section">
  <section class="jumbotron text-center">
    <h1 class="show-title"style="margin:5%">Invoice: <%=@invoice.id%> - <%=@invoice.status%></h1>
    <form action="/invoices/<%= @invoice.id %>" method="POST">
      <div class="row show-buttons">
        <div class='col'>
          <a href="/invoices/<%= @invoice.id %>/edit" class="btn btn-info">Edit</a>
        </div>
        <div class='col'>
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" id="delete-btn" class="btn shadow"/>
        </div>
      </div>
    </form>


</section>
  <h2><a href="/merchants/<%= @invoice.merchant_id %>" class="badge" id="merchant-link">Merchant Name</h2>

    <% @invoice.invoice_items.each do |invoice_item| %>
    <div class="row invoice-item-index">
      <div class="col invoice-item-index">
        <a href="/items/<%= invoice_item.item.id %>" class="badge" id="item-link"> <%= invoice_item.item.title %> </a>
      </div>
      <div class="col-1 invoice-item-index">
        <%= invoice_item.item.title %>
      </div>
      <div class="col-1 invoice-item-index">
        <%= invoice_item.quantity %>
      </div>
      <div class="col-1 invoice-item-index">
        <%= invoice_item.item.unit_price %>
      </div>
    </div>
    <% end %>
  </div>
</section>
