<div class="index">
  <a href="/merchants-dashboard" class="dashboard-link">Dashboard</a>
  <br/>
  <h1 class="index-title">Merchants</h1>
  <a href="/merchants/new">Create A New Merchant</a>
  <br/>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class="merchant" class="container">
      <div class="row">
        <div class="col-7">
          <a href="/merchants/<%= merchant.id %>"> <%= merchant.name %> </a>
        </div>
        <div class="col-1">
          <a href="/merchants/<%= merchant.id %>/edit">Edit</a>
        </div>
        <div class="col-1">
          <form action="/merchants/<%= merchant.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-dark" value="delete"/>
          </form>
        </div>
      </div>
    </div>
  <% end %>
</div>
