<div class="index">
  <a href="/merchants-dashboard" class="dashboard-link">Dashboard</a>
  <br/>
  <h1 class="index-title">Merchants</h1>
  <a href="/merchants/new">Create A New Merchant</a>
  <br/>
  <% @merchants.each do |merchant| %>
    <div id="merchant-<%= merchant.id %>" class="merchant">
      <a href="/merchants/<%= merchant.id %>"> <%= merchant.name %> </a>
      <a href="/merchants/<%= merchant.id %>/edit">Edit</a>

      <form action="/merchants/<%= merchant.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete"/>
      </form>

    </div>
  <% end %>
</div>
