<h1>Merchants Dashboard</h1>

  <section>
    <h5>Merchant With Most Items: <%= @most_items.name %></h5>
    <h5>Merchant With Highest Price Item: <%= @highest_priced_item.name %></h5>
  </section>

  <section>
    <% @merchants.each do |merchant| %>
      <ul>
        <li><a href="/merchants/<%=merchant.id%>"><p><%= merchant.name %></p></a>
        <li><p>Item Count: <%= merchant.total_merchant_items %></p></li>
        <li><p>Avg Item Price: $ <%= '%.2f' % merchant.average_item_price %></p></li>
        <li><p>Total Cost of Items: $ <%= '%.2f' % merchant.total_price_all_items %></p></li>
      </ul>
    <% end %>
  </section>
