
<section class="jumbotron text-center" style="margin-bottom:5%">
  <h1 class="index-title"style="margin:5%">Edit <%= @item.title %>:</h1>
</section>
<section class="edit-body">
  <div class="edit-square">
    <form class='edit-item' action='/items/<%= @item.id %>' method='POST'>
      <h3>Merchant</h3>
      <select>
        <%@merchants.each do |merchant|%>
          <option value="<%=merchant.id%>"><%=merchant.name%></option>
        <%end%>
      </select>
      <h3>Title</h3>
      <input type='hidden' name='_method' value='PUT'>
      <textarea rows='1' cols='60' class='green-line' name='item[title]'><%= @item.title %></textarea>
      <h3>Description</h3>
      <textarea rows='5' cols='60' class='green-line' name='item[description]'><%= @item.description %></textarea>
      <h3>Price</h3>
      <input type='text' class='green-line' name='item[unit_price]' value='<%= @item.unit_price %>'>
      <h3>Image URL</h3>
      <input type='text' class='green-line' name='item[image]' value='<%= @item.image %>'>
      <div class='row edit-buttons'>
        <div class='col'>
          <input type='submit' value='Update Item' class='btn btn-info' class='btn edit'>
        </div>
        <div class='col'>
          <form action="/items"><input type="submit" value="Cancel" class='btn edit'></form>
        </div>
      </div>
    </form>
  </div>
</section>
