<section class="index">
  <section class="jumbotron text-center" style="margin-bottom:5%">
    <a href="/items-dashboard" class="dashboard-link">Dashboard</a>
    <h1 class="index-title"style="margin:5%">Items</h1>
    <a href="/merchants/new" class="btn btn-info">Create A New Item</a>
  </section>


  <section>
    <% @items.each do |item| %>
    <div class="item-container">
      <div class="col">
        <img src="item.png" alt="image placeholder"/>
        <p><a href="/items/<%=item.id%>"><%=item.title.truncate_words(3)%></a></p>
        <p>$ <%='%.2f' % item.unit_price%></p>
      </div>
    </div>
    <% end %>
  </section>

    <!-- <% @items.each do |item| %>
      <ul>
        <li><img src="item.png" alt="image placeholder"/>
        <li><a href="/items/<%=item.id%>"><%=item.title.truncate_words(3)%></a></li></br>
        <li>$ <%='%.2f' % item.unit_price%></li></br>
      </ul>
    <% end %> -->

</section>
