<section class="index">
  <section class="jumbotron text-center" style="margin-bottom:5%">
    <h1 class="title"><%= @item.title %></h1>
    <br>
    <br>
    <br>

    <a href="/items/<%= @item.id %>/edit" class="btn btn-info">Edit</a>

    <form class="btn btn-info" action="/items/<%= @item.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="delete-button" type="submit" value="Delete">
    </form>
  </section>
  <section class='item-show'>
    <div class='row'>
    <div class='col'>
        <p><a href="/merchants/<%=@item.merchant.id%>"><%= @item.merchant.name %></a></p>
        <img class="image-size" src='<%= @item.image %>' alt="placeholder_image" >
        </div>
        <div class='col'>
        <p><%= @item.title %></p>
        <br>
        <p>$ <%= '%.2f' % @item.unit_price %></p>
        <br>
        <p><%= @item.description %></p>
      </div>
      </div>
  </section>
